body{
  background-image: url("pipeline.jpg");
  background-repeat: round;
}
h1{
  color: chartreuse;
}

p{
  color: gold;
}
#blurb{
  font-style: italic;
  background-color: black;
}

img{
  width: 200px;
  float: left;
}